@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;  }

html {
    height: 200vh;
    font-family: 'Work Sans' !important;
    padding: 0px;
}
body {
    font-size: 1.3rem;
    width: 100vw;
    padding: 0px;
    margin: 0px;
  }

.navbar-fixed-width {
    position: fixed;
    bottom: 100px;
    margin-left: -350px;
    left: 50%;
    animation-delay: 800ms;
    animation: fadeIn 800ms;
}

.sticky-navbar {
    display: flex;
    background-color: #333;
    overflow: hidden;
    bottom: 100px;
    height: 80px;
    text-decoration: none;
    border: 2px solid black;
    box-shadow: -5px 5px 0px 0px #000000;
    ;
    z-index: t;
}

.sticky-navbar-li{
    display: flex;
    width: 150px;
  }

.sticky-navbar-li a{
    display: flex;
    width: 100%;
    height: 100%;
    color: black;
    background: #FFFFFF;
    padding: auto;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.sticky-navbar-li-button{
    display: flex;
    overflow: hidden;
    font-size: 1.4rem;
    float: left;
    min-width: 250px;
    width: 250px;
    height: 100%;
    color: black;
    background: #FFFFFF;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    align-items: center;
    border: none;
    justify-content: center;
    font-family: 'Work Sans' !important;
}

.button-img {
    width: 30px;
    margin-right: 15px;
  }

  .sticky-navbar-li-button button {
    display: flex;
    font-size: 1.2rem;
    padding: 10px;
    background: #000;
    text-align: center;
    color: white;
    text-decoration: none;
    align-items: center;
    border: none;
    justify-content: center;
    font-family: 'Work Sans' !important;
    cursor: pointer;
  }
  
  .sticky-navbar-li-button button:hover {
    font-size: 1.25rem;
  }

  .sticky-navbar a.active {
    background-color: #fca311;
    color: white;
    text-decoration: none;
    }


  @keyframes fadeIn {
    0% { width: 0;
        left: -200px; }
    100% { width: 700px;
            left: 50%; }
  }